/* NavBar background color */
#navbar-transition {
    padding: 0%;
    background-color: var(--color-primary) !important;
    transition: background-color 0.3s;
    height: 50px; /* TODO: change to relative based on screen width */
}

.toggle > .navbar-collapse {
    margin: 0 !important;
    background-color: var(--color-primary) !important;
}

/* The container for the logo and the title */
.logo-and-title {
    margin: 0;
    margin-left: 5%; /* TODO: change to relative based on screen width */
    margin-right: 5%; /* TODO: change to relative based on screen width */
    padding-right: 3%; /* TODO: change to relative based on screen width */
    padding-left: 3%; /* TODO: change to relative based on screen width */
    background-color: var(--color-primary);
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-and-title:hover {
    background-color: var(--color-selected);
    cursor: pointer;
}

a.nav-link {
    color: var(--color-text) !important;
}

a.nav-link:hover {
    color: var(--color-hover-text) !important;
}

/* The navbar items (navlinks) container */
#basic-navbar-nav {
    margin-right: 5%;
    justify-content: flex-end;
}

.toggle > .navbar-collapse > .navbar-container > a.nav-link {
    padding-left: 5%;
}

/* Used for mobile when the navbar is expanded */
.toggle > .navbar-collapse > .navbar-container > a.nav-link.active,
.toggle > .navbar-collapse > .navbar-container > a.nav-link:hover {
    background-color: var(--color-selected) !important;
}

.no-toggle > .navbar-collapse > .navbar-container > a.nav-link.active {
    background-color: transparent !important;
}