/* NavBar background color */
.navbar-custom {
    background-color: var(--color-primary);
}

/* Color of the dropdown button on hover */
.navbar .dropdown.show a:hover { 
    background-color: var(--color-third);
}

/* Color of the dropdown button when open but not hovering */
a[aria-expanded='true'].dropdown-toggle.nav-link {
    color: var(--color-text);
    background-color: var(--color-selected);
}

/* Any of the links and dropdown title button */
a[aria-expanded='false'].dropdown-toggle.nav-link {
    color: var(--color-text);
    text-decoration: none;
}

/* The logo for the website in top left corner */
#web-logo {
    margin: auto;
    margin-right: 10%;
    cursor: pointer;
}

/* The container for the logo and the title */
.logo-and-title {
    margin: 0;
    padding-right: 5%;
    padding-left: 5%;
}

#basic-navbar-nav > div > a {
    color: var(--color-text);
}

#basic-navbar-nav > div > a:hover {
    color: var(--color-hover-text);
}