/* NavBar background color */
.navbar {
    background-color: var(--color-primary) !important;
}

/* The logo for the website in top left corner */
#web-logo {
    cursor: pointer;
}

/* The container for the logo and the title */
.logo-and-title {
    margin: 0;
    padding-right: 5%;
    padding-left: 5%;
}

a.nav-link {
    color: var(--color-text);
}

a.nav-link:hover {
    color: var(--color-hover-text);
}

/* Used for mobile when the navbar is expanded */
.toggle > .navbar-collapse > .navbar-container > a.nav-link.active {
    background-color: var(--color-selected) !important;
}

.no-toggle > .navbar-collapse > .navbar-container > a.nav-link.active {
    background-color: var(--color-primary) !important;
}