#icon-container {
    display: flex;
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 40px;
    border-radius: 100%;
    color: var(--link-color);
    align-items: center;
    justify-content: center;
}

#icon-container:hover {
    background-color: var(--link-color);
    color: var(--color-primary);
    cursor: pointer;
}
