.grid-container > .carousel-container {
    padding: calc(var(--vh) * .05);
}

.carousel-container {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: auto calc(var(--vh) * .7) auto; /* TODO: change to relative based on screen width */
    grid-template-rows: calc(var(--vh) * .5) auto; /* TODO: change to relative based on screen width */
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.chevron-icon {
    color: gray;
}

.chevron-icon:hover {
    color: white;
    cursor: pointer;
}

#chevron-right {
    grid-column: 3;
}

.slide {
    grid-column: 2;
    object-fit: cover;
    width: 100%;
}

.trim-img {
    overflow: hidden;
    height: 100%;
}

.slide-description {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0;
}