/* The container for the content on each page for consistency */
.grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 60vh 30vh 30vh;
}

.title-container {
    padding: 0;
}

.large-text {
    font-family: 'arca', 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 2vw;
    letter-spacing: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 3;
    color: white;
    text-transform: uppercase;
    width: 100%;
}

.small-text {
    font-family: 'Futura', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 1vh;
    letter-spacing: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    text-transform: uppercase;
    margin-top: 40px;
    width: 100%;
}

h4 {
    font-family: 'arca', 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;
    color: white;
}