.grid-container > .carousel-container {
    padding: calc(var(--vh) * .05);
}

.carousel-container {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: auto calc(var(--vh) * .7) auto;
    grid-template-rows: calc(var(--vh) * .24) auto;
    justify-items: center;
    align-items: center;
    -webkit-transition: background-color var(--animation-time); /* For Safari 3.1 to 6.0 */
    transition: background-color var(--animation-time);
}

.chevron-icon {
    color: var(--color-text);
}

.chevron-icon:hover {
    color: var(--color-hover-text);
    cursor: pointer;
}

#chevron-right {
    grid-column: 3;
}

.slide {
    height: 100%;
}

.slide-img {
    width: 100%;
    align-self: center;
}

.trim-img {
    width: 100%;
    height: 100%;
}

#slide-count {
    grid-column-start: 1;
    grid-column-end: 3;
}

#slide-container > .slide {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 100%;
}

#slide-container {
    height: 100%;
    overflow: hidden;
}

#slide-words {
    grid-column: 2;
    height: 100%;
    text-align: center;
    overflow: scroll;
}

#slide-description {
    padding: 5%;
}

#slide-count-container {
    grid-column: 2;
}

#slide-count-container > * {
    -webkit-transition: color var(--animation-time) linear;
    -ms-transition: color var(--animation-time) linear;
    transition: color var(--animation-time) linear;
}